---
layout: default
title: Khanh's Blog
---
	<div class="posts">
		{% for post in site.posts %}
			<div class="post">
					<h4 class="date">{{ post.date | date: "%A – %B %-d, %Y" }}</h4>
					<a href="{{ post.url }}" title="{{ post.title }}"><h2 class="title">{{ post.title }}</h2></a>
					{% if post.featured-image == true %}
						<img src="{{ post.assets }}featured.jpg" />
					{% endif %}
				<div class="blurb">
					{{ post.excerpt }}
					<p class="read_more"><a href="{{ post.url }}" title="{{ post.title }}">Read More</a></p>
				</div>
			</div>
		{% endfor %}
	</div>

	<!--<ul class="posts">

	  {% for post in site.posts %}
	    <li><span>{{ post.date | date: "%B %-d, %Y" }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a><p>{{ post.excerpt }}</p></li>
	  {% endfor %}
	</ul-->
