---
layout: default
title: Khanh's Blog
---
	<div class="posts">
		{% for post in paginator.posts %}
			<div class="post">
					<h4 class="date">{{ post.date | date: "%A – %B %-d, %Y" }}</h4>
					<a href="{{ post.url }}" title="{{ post.title }}"><h2 class="title">{{ post.title }}</h2></a>
					{% if post.images[0] %}
						<figure>
							<img class="featured-img" alt="{{ post.images[0]['caption'] }}" title="{{ post.images[0]['caption'] }}" src="{{ post.images[0]['url'] }}" />
							<figcaption>{{ post.images[0]['caption'] }}</figcaption>
						</figure>
						<br>
					{% endif %}
				<div class="blurb">
					{{ post.excerpt }}
					<p class="read_more"><a href="{{ post.url }}" title="{{ post.title }}">Read More</a></p>
				</div>
			</div>
		{% endfor %}
	</div>

	<div class="pagination">
		{% if paginator.page == 1 %}
			<span class="inactive page_nav fa fa-angle-double-left"></span>
		{% else %}
			<a class="page_nav fa fa-angle-double-left" href="/"></a>
		{% endif %}

	  {% if paginator.previous_page %}
	    <a class="page_nav previous" href="{{ paginator.previous_page_path }}"><span class="fa fa-chevron-left"></span> Previous</a>
		{% else %}
			<span class="inactive page_nav previous"><span class="fa fa-chevron-left"></span> Previous</span>
		{% endif %}

		{% for page in (1..paginator.total_pages) %}
	    {% if page == paginator.page %}
	      <span>{{ page }}</span>
	    {% elsif page == 1 %}
	      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
	    {% else %}
	      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
	    {% endif %}
	  {% endfor %}

	  {% if paginator.next_page %}
	    <a class="page_nav next" href="{{ paginator.next_page_path }}">Next <span class="fa fa-chevron-right"></span></a>
		{% else %}
			<span class="inactive page_nav next">Next <span class="fa fa-chevron-right"></span></span>
	  {% endif %}

		{% if paginator.page == paginator.total_pages %}
			<span class="inactive page_nav fa fa-angle-double-right"></span>
		{% else %}
			<a class="page_nav fa fa-angle-double-right" href="/"></a>
		{% endif %}

	</div>
