//

$lightGrey: #FCFCFC
$SteelBlue: #237AA6
$black: #404040

$sansSerifFont: 'Montserrat', sans-serif
$serifFont: 'Martel', serif

body
  border-top: 5px solid $SteelBlue
  background-color: $lightGrey
  font-family: $sansSerifFont
  font-weight: 400
  font-size: 1.2rem
  color: $black
  padding-bottom: 3rem
  min-width: 500px
  margin: 0 auto

a
  text-decoration: none
  color: $SteelBlue

  &:hover, &:focus, &:visited
    text-decoration: none
    color: $SteelBlue

  &:hover
    cursor: pointer


  @media (max-width: 1130px)
    text-align: center

.header
  a
    color: $black

p
  font-family: $serifFont
  line-height: 160%

  @media screen and (max-device-width: 800px)
    font-size: 3rem

.page_container
  width: 55%
  margin: 0 auto

  @media (max-width: 1360px)
    width: 65%

  @media (max-width: 1130px)
    width: 80%

  @media (max-width: 800px)
    width: 90%

  @media screen and (max-device-width: 800px)
    width: 90%

.container
  border-top: 1px solid $SteelBlue

.site_title
  display: inline-block
  text-transform: uppercase

  &:hover
    color: $SteelBlue

  @media (max-width: 995px)
    display: block
    text-align: center
    margin-bottom: .5rem

  @media screen and (max-device-width: 800px)
    display: block
    font-size: 6rem

nav
  display: inline-block
  margin-right: 0
  text-align: center

  @media screen and (max-device-width: 800px)
    display: block
    font-size: 3rem

  @media (max-width: 995px)
    display: block
    margin-top: .5rem

  ul
    padding: 0
    font-family: $sansSerifFont
    text-transform: uppercase

    li:first-child
      padding-left: 2rem

    li:last-child
      padding-right: 2rem

    li
      display: inline-block
      margin: .5rem 1rem

.pagination
  text-align: center
  margin-top: 1.5rem

  .page_nav
    text-transform: uppercase
    margin: 0 .5rem

  .inactive
    color: #A8A8A8

  .previous
    margin-right: 1.5rem

  .next
    margin-left: 1.5rem

// 404 PAGE //

.page_404
  text-align: center

  h1
    font-size: 5em
    margin: .75rem

  h2
    font-size: 3em
    margin-bottom: 0

  h3
    font-weight: 200
    font-family: $serifFont
    margin-top: 2em

  a
    text-decoration: underline


// BLOG INDEX //

.page_title
  text-align: center
  text-transform: uppercase

  @media (max-width: 1130px)
    display: block
    text-align: center
    margin-bottom: .5rem

.posts
  width: 100%
  margin: 0 auto

  p.read_more
    font-weight: 700
    font-family: $sansSerifFont
    text-align: center
    text-decoration: underline

  .post
    border-bottom: 1px solid $SteelBlue

    .date
      font-family: $sansSerifFont
      margin-bottom: .5rem
      font-weight: 200
      text-align: center

      @media screen and (max-device-width: 800px)
        font-size: 2rem

    .title
      margin-top: .75rem
      text-align: center
      font-size: 2rem
      font-weight: 700

      @media screen and (max-device-width: 800px)
        font-size: 4rem

    .blurb
      line-height: 160%
      font-family: $serifFont

    img
      width: 100%
      height: auto

// POST PAGE //

.hidden
  display: none
  width: 0vw
  height: 0vh

.active
  width: 100vw
  height: 100vh
  display: block

#fullScreenImage
  position: absolute
  top: 0
  left: 0
  background-color: $lightGrey

  img
    display: block
    margin: 0 auto
    max-width: 100%
    max-height: 100%

.post_page
  padding: 2rem auto 3rem auto

  .meta
    margin-bottom: .5rem
    font-weight: 200
    text-align: center

    @media screen and (max-device-width: 800px)
      font-size: 2rem

  .post_title
    margin-top: .75rem
    text-align: center
    text-transform: capitalize
    color: $SteelBlue
    font-weight: 700
    font-size: 2rem

    @media screen and (max-device-width: 800px)
      font-size: 4rem

  .post
    margin-top: 1.65rem

  .article_bio
    .pic
      width: 15%
      height: auto
      display: inline-block
      margin-right: 2%

      img
        width: 100%
        height: auto
        border-radius: 90%

    .summary
        width: 81%
        height: auto
        display: inline-block
        vertical-align: top

        h3
          margin: 0
          padding-bottom: .5rem
          border-bottom: 1px solid #A8A8A8

          .light
            font-weight: 400
        p
          font-size: 16px

    @media (max-width: 700px)
      .pic, .summary
        display: block

      .pic
        margin: 0 auto
        width: 35%

      .summary
        width: 100%
        text-align: center
        padding-top: 2rem
        margin: 0 auto

    @media screen and (max-device-width: 700px)
      .pic, .summary
        display: block

      .pic
        margin: 0 auto
        width: 35%

      .summary
        width: 100%
        text-align: center
        padding-top: 2rem
        margin: 0 auto



  img.outset
    width: 130%
    height: auto
    margin: 0 -15%

    @media screen and (max-device-width: 800px)
      width: 100%
      margin: 0 auto

    @media (max-width: 800px)
      width: 100%
      margin: 0 auto

  img.inset
    width: 100%
    height: auto

  figure
    margin: auto 0

  ul
    font-family: $serifFont

    li
      margin-top: 1rem

  figcaption
    font-family: $serifFont
    font-weight: 200
    text-align: center
    font-size: 1rem


  blockquote
    font-size: 1.75rem
    padding: .1rem 2rem
    border-left: solid 3px #dfe0e0
    font-style: italic
    color: #525252

// ABOUT PAGE //
.about
  border-bottom: 1px solid $SteelBlue
  font-family: $sansSerifFont

  h1
    text-transform: uppercase
    text-align: center


  p, ul
      font-family: $serifFont

  img.outset
    width: 130%
    height: auto
    margin: 0 -15%

  img.inset
    width: 100%
    height: auto

// ARCHIVE //

.archive
  padding-top: 1rem
  text-align: left

  @media screen and (max-device-width: 800px)
    font-size: 3rem
    text-align: center


  .meta
    margin-top: 2rem
    margin-bottom: 0
    text-transform: uppercase
    font-family: $serifFont

  .post
    margin: .5rem 0

    h4
      display: inline-block
      margin: 0
      font-family: $sansSerifFont

      @media screen and (max-device-width: 800px)
        font-size: 3rem


    a
      font-family: $serifFont
      font-weight: 700
      margin-left: 1rem

      @media screen and (max-device-width: 800px)
        font-size: 3rem
