//

$lightGrey: #FCFCFC
$SteelBlue: #237AA6
$black: #404040

$sansSerifFont: 'Montserrat', sans-serif
$serifFont: 'Martel', serif

body
  border-top: 5px solid $SteelBlue
  background-color: $lightGrey
  font-family: $sansSerifFont
  font-weight: 400
  font-size: 18px
  color: $black
  padding-bottom: 3rem
  min-width: 500px
  margin: 0 auto

a
  text-decoration: none
  color: $SteelBlue

  &:hover, &:focus, &:visited
    text-decoration: none
    color: $SteelBlue

  &:hover


  @media (max-width: 1130px)
    text-align: center

.header
  a
    color: $black

p
  font-family: $serifFont
  line-height: 160%

.page_container
  width: 55%
  margin: 0 auto

  @media (max-width: 1360px)
    width: 65%

  @media (max-width: 1130px)
    width: 70%

.container
  border-top: 1px solid $SteelBlue

.site_title
  display: inline-block
  text-transform: uppercase

  @media (max-width: 855px)
    display: block
    text-align: center
    margin-bottom: .5rem

nav
  display: inline-block
  margin-right: 0
  text-align: center

  @media (max-width: 855px)
    display: block
    margin-top: .5rem

  ul
    padding: 0
    font-family: $sansSerifFont
    text-transform: uppercase

    li:first-child
      padding-left: 2rem

    li:last-child
      padding-right: 2rem

    li
      display: inline-block
      margin: .5rem 1rem


// BLOG INDEX //

.page_title
  text-align: center
  text-transform: uppercase

  @media (max-width: 1130px)
    display: block
    text-align: center
    margin-bottom: .5rem

.posts
  width: 100%
  margin: 0 auto

  p.read_more
    font-weight: 700
    font-family: $sansSerifFont
    text-align: center
    text-decoration: underline

  .post
    border-bottom: 1px solid $SteelBlue

    .date
      font-family: $sansSerifFont
      margin-bottom: .5rem
      font-weight: 200
      text-align: center

    .title
      text-transform: uppercase
      margin-top: .75rem
      text-align: center
      font-size: 2rem

    .blurb
      line-height: 160%
      font-family: $serifFont

    img
      width: 100%
      height: auto

// POST PAGE //

@mixin transition($transition)
  -moz-transition:    $transition
  -o-transition:      $transition
  -webkit-transition: $transition
  transition:         $transition


.hidden
  display: none
  width: 0vw
  height: 0vh

.active
  width: 100vw
  height: 100vh
  display: block

#fullScreenImage
  position: absolute
  top: 0
  left: 0
  background-color: $lightGrey

  img
    display: block
    margin: 0 auto
    max-width: 100%
    max-height: 100%

    @media (orientation: portrait)
      margin-top: 25%






.post_page
  border-bottom: 1px solid $SteelBlue
  padding: 2rem auto 3rem auto

  .meta
    margin-bottom: .5rem
    font-weight: 200
    text-align: center

  .post_title
    margin-top: .75rem
    text-align: center
    text-transform: capitalize
    color: $SteelBlue
    font-weight: 2rem

  img.outset
    width: 130%
    height: auto
    margin: 0 -15%

  img.inset
    width: 100%
    height: auto

  figure
    margin: auto 0

  figcaption
    font-family: $serifFont
    font-weight: 200
    text-align: center

  blockquote
    font-size: 1.75rem
    padding: .1rem 2rem
    border-left: solid 3px #dfe0e0
    font-style: italic

// ABOUT PAGE //
.about
  border-bottom: 1px solid $SteelBlue

  h1
    text-transform: uppercase
    text-align: center

  img.outset
    width: 130%
    height: auto
    margin: 0 -15%

  img.inset
    width: 100%
    height: auto
