<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link href="https://fonts.googleapis.com/css?family=Martel:200,400|Montserrat:400,700" rel="stylesheet">
			<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
		</head>
		<body>
			<div class="page_container">
				<div class="header">
					<a href="/"><h1 class="site_title">Khanh's Blog</h1></a>
					<nav>
			    		<ul>
			        		<li><a href="/">Home</a></li>
				        	<li><a href="/about">About</a></li>
									<!-- <li><a href="/archive">Archive</a></li> -->
			        		<!--<li><a href="/cv">CV</a></li>-->
			    		</ul>
					</nav>
				</header>
				</div>
				<div class="container">

				{{ content }}

				</div><!-- /.container -->
			</div>
		</body>
	</html>
