---
layout: default
---
<div class="hidden" id="fullScreenImage"></div>
<div class="post_page">
  <h4 class="meta">{{ page.date | date: "%A – %B %-d, %Y" }}</h4>
  <h1 class="post_title">{{ page.title }}</h1>
  <figure>
    <!--<img class="outset" src="{{ site.url }}/assets/post_images/2016-11-21-khanh-nguyen-first-post/test-image.jpeg" />
    <figcaption>Outset Image</figcaption>-->
  </figure>

  <div class="post">
    {{ content }}
  </div>
  <!--<img class="inset" src="{{ site.url }}/assets/post_images/2016-11-21-khanh-nguyen-first-post/test-image.jpeg" />-->
</div>
<script src="/js/image_script.js"></script>
